name: Send daily
on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: 00 17 * * *
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
      BOT_URL: ${{ secrets.BOT_URL }}
      CHAT_ID: ${{ secrets.CHAT_ID }}
      CHAT_ID_LOCATION: ${{ secrets.CHAT_ID_LOCATION }}
      DOIST_TOKEN: ${{ secrets.DOIST_TOKEN }}
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run script
      run: |
        python main.py
    - name: Commit changes
      run: |
        git config user.name "GitHub Actions Bot"
        git config user.email "<>"
        git add next_collection_date.json
        git commit -m "UPDATED"
        git push origin main
